<div class="container col-md-10 mx-auto">
    <br />
<h1>@User.Identity?.Name Claims</h1>
<br />
<table class="table">
    <thead>
        <tr>
                <th style="background-color:mediumaquamarine" class="text-dark">Claim ID</th>
                <th style="background-color:mediumaquamarine" class="text-dark">Description</th>
                <th style="background-color:mediumaquamarine" class="text-dark">Status</th>
                <th style="background-color:mediumaquamarine" class="text-dark">Action</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>text goes here</td>
                <td>text goes here</td>
                <td>text goes here</td>
                <td>
                    <button class="btn btn-danger">Cancel approval</button>
                </td>
            </tr>
    </tbody>
</table>
</div>
